.home__gradient {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background: -webkit-linear-gradient(#ff4b4b, #861388);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
