.tsparticles-canvas-el {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  background-color: white !important;
  filter: blur(20px) !important;
  z-index: -1 !important;
}
