body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// @media (max-width: 960px) {
//   body {
//     overflow-x: hidden;
//     z-index: 9999;
//   }
// }

// @media (min-width: 992px) {
//   body {
//     overflow: hidden;
//     z-index: 9999;
//   }
// }
